nav{
    background-color: #202030;
}
nav a{
    color: #fafaff;
}

#headShot{
    position: fixed;
    border-radius: 100%;
    border: solid white 2px;
    top: 3%;
    left: 5%;
}
#ProjectsTab{
    width: 46%;
}
#socialMediaTab{
    width: 46%;
}